<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
    <!-- id = Un identificador único dentro del namespace que se utiliza para identificar el result map -->
    <!-- type = El nombre completamente cualificado de la clase o el alias del parámetro que se pasará al statement. -->
    <!-- autoMapping = Si el atributo está presente MyBatis habilita o inhabilita el automapping para este result map. El atributo sobreescribe el parametro global autoMappingBehavior. Valor por defecto: no informado.
 -->


    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
        select

        c.nombre,
        c.documento,
        c.telefono,
        c.direccion,
        c.email,
        c.vetado,

        ir.id as itemRenta_id,
        ir.fechainiciorenta as itemRenta_fechaI,
        ir.fechafinrenta as itemRenta_fechaF,

        i.id as item_id,
        i.nombre as item_nombre,
        i.descripcion as item_descripcion,
        i.fechalanzamiento as item_fechalanzamiento,
        i.tarifaxdia as item_tarifaxdia,
        i.formatorenta as item_formatorenta,
        i.genero as item_genero,

        ti.id as item_tipoitem_id,
        ti.descripcion as item_tipoitem_descripcion


        FROM VI_CLIENTES as c
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento
        left join VI_ITEMS as i on ir.ITEMS_id=i.id
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id

    </select>

    <insert parameterType="map" id="agregarItemRentadoACliente">
        INSERT INTO VI_ITEMRENTADO (CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta) VALUES (#{idcli},
        #{itemId}, #{fechainiciorenta}, #{fechafinrenta})
    </insert>

    <insert parameterType="map" id="registrarAlquilerCliente">
        insert into VI_ITEMRENTADO (CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta) VALUES (#{idcli}, #{itemId}, #{fechainiciorenta}, #{fechafinrenta})
    </insert>

    <insert parameterType="map" id="insertCliente">
        insert into VI_CLIENTES (documento, nombre, telefono, direccion, email, vetado) VALUES (#{cli.documento}, #{cli.nombre}, #{cli.telefono}, #{cli.direccion}, #{cli.email}, #{cli.vetado})
    </insert>

    <resultMap type='Cliente' id='ClienteResult'>
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='telefono' column='telefono'/>
        <result property="direccion" column="direccion"/>
        <result property='email' column='email'/>
        <result property='vetado' column='vetado'/>
        <collection property='rentados' ofType='ItemRentado' resultMap='ItemRentadoResult' columnPrefix='itemRenta_'></collection>

    </resultMap>

    <resultMap type='ItemRentado' id='ItemRentadoResult'>
        <id property='id' column='id'/>
        <result property='fechainiciorenta' column='fechaI'/>
        <result property='fechafinrenta' column='fechaF'/>
        <association property='item' javaType='Item' resultMap='ItemResult' ></association>
    </resultMap>

    <resultMap type='Item' id='ItemResult'>
        <id property='id' column='item_id'/>
        <result property='nombre' column='item_nombre'/>
        <result property='descripcion' column='item_descripcion'/>
        <result property='fechaLanzamiento' column='item_fechalanzamiento'/>
        <result property='tarifaxdia' column='item_tarifaxdia'/>
        <result property='formatoRenta' column='item_formatorenta'/>
        <result property='genero' column='item_genero'/>
        <association property='tipo' javaType='TipoItem' resultMap='TipoItemResult' columnPrefix='item_tipoitem_' ></association>
    </resultMap>

    <resultMap type='TipoItem' id='TipoItemResult'>
        <id property='id' column='id'/>
        <result property='descripcion' column='descripcion'/>
    </resultMap>

</mapper>