<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">


    <select parameterType="map" id="consultarItemsCliente" resultMap="ItemRentadoResult">
        select
        ir.id ,
        ir.fechainiciorenta ,
        ir.fechafinrenta ,
        i.id as item_id,
        i.nombre as item_nombre,
        i.descripcion as item_descripcion ,
        i.fechalanzamiento as item_fechalanzamiento,
        i.tarifaxdia as item_tarifaxdia,
        i.formatorenta as item_formatorenta,
        i.genero as item_genero ,
        ti.id as tipo_id ,
        ti.descripcion as tipo_id
        FROM
        VI_CLIENTES as c
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS AS i ON ir.ITEMS_id=i.id
        LEFT JOIN VI_TIPOITEM AS ti ON i.TIPOITEM_id=ti.id
        WHERE c.documento = #{idcli};
    </select>

    <insert parameterType="map" id="addTipoItem">
        insert into VI_TIPOITEM (descripcion) VALUES(#{desTipoItem})
    </insert>

    <resultMap type='ItemRentado' id='ItemRentadoResult'>
    <id property='id' column='id'/>
    <result property='fechainiciorenta' column='fechainiciorenta'/>
    <result property='fechafinrenta' column='fechafinrenta'/>
    <association property="item" javaType="Item" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult" columnPrefix="item_" ></association>
    </resultMap>

</mapper>